<div class="white-bg view-container flex-body">
    <main-header></main-header>
    <div class="content">
        <!-- EvalAI into -->
        <div class="grad-container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="grad-head">
                        <div class="logo-title-container">
                            <div class="challenge-logo">
                                <img src="https://bpc.opencv.org/dist/images/BPC-logo-large@2x.png" alt="Challenge Logo">
                            </div>
                            <div class="challenge-title">
                                <h3 class="text-dark-black"><strong>Perception Challenge for Bin-picking</strong></h3>
                                <p class="text-med-black fs-18 w-300">Develop robust 6DoF pose estimation solutions for
                                    the most challenging industrial parts. Test your solutions on a real robot powered
                                    by Intrinsic Flowstate and compete for <strong>$60,000</strong> in prizes. See your
                                    algorithms solve real-world robotics problems, and win bragging rights!</p>

                                <p>This challenge is sponsored by <a href="http://intrinsic.ai">Intrinsic</a> and hosted
                                    by <a href="https://opencv.org">OpenCV</a>.</p>
                                <div class="landing-buttons">
                                    <ul class="inline-list">
                                        <li><a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14"
                                                ui-sref="web.challenge-main.challenge-page.overview({challengeId: 1})">Participate</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="ev-container ev-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="col s12 m3 l3">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="center fs-20 w-500">
                                <h2><strong>$60,000</strong></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Prize Pool
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col s12 m3 l4">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>1-4</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Allowed Team Size
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col s6 l6">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>Feb 1</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="center fs-20">
                                        Challenge Begins
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 l6">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>Real Robot</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="center fs-20">
                                        Used to Test Your Solutions
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ev-container ev-details text-med-black" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Competition Rules & Timeline</h4>
                    <p class="center w-300">This challenge is open to anyone in a state not sanctioned by the United
                        States. Participants cannot be connected with Alphabet or portfolio companies.</p>
                </div>
                <div class="row">
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/about-timeline.jpeg" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">Timeline</h5>
                        <p class="w-300 fs-16"><strong>February 1, 2025</strong> &mdash; Competition Begins
                        </p>
                        <p class="w-300 fs-16"><strong>May 1, 2025</strong> &mdash; Top 5 Teams Announced (Elite Phase
                            Begins)
                        </p>
                        <p class="w-300 fs-16"><strong>May 22, 2025</strong> &mdash; Live Bin-Picking Challenge On
                            OpenCV Webinar
                        </p>
                        <p class="w-300 fs-16"><strong>June 10, 2025</strong> &mdash; Final Winners Awarded
                        </p>

                        <p class="w-300 fs-14">All Deadlines Are 11:59pm Pacific Time.</p>
                        </p>
                    </div>
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/about-prizes.jpeg" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">Prizes</h5>
                        <p class="w-300 fs-16"><strong>1st (Grand Prize Winner):</strong> $18,000</p>
                        <p class="w-300 fs-16"><strong>2nd (Grand Prize Runner-Up):</strong> $12,000</p>
                        <p class="w-300 fs-16"><strong>3rd Place:</strong> $8,000</p>
                        <p class="w-300 fs-16"><strong>4th Place:</strong> $4,000</p>
                        <p class="w-300 fs-16"><strong>5th Place:</strong> $3,000</p>
                        <p class="w-300 fs-16"><strong>6th to 10th Place:</strong> $1,000</p>
                        <p class="w-300 fs-16"><strong>Special Prize for Best One-shot Solution:</strong> $10,000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/rules.jpg" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">Rules</h5>
                        <p class="w-300 fs-16"><strong>Team Size:</strong> Up to 10 members.</p>
                        <p class="w-300 fs-16"><strong>Participant Restrictions:</strong> Countries sanctioned by the
                            United States (TBD). </p>
                        <p class="w-300 fs-16"><strong>Dataset:</strong> Custom multi-view multimodal dataset will be
                            used for evaluation.
                    </div>
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/evaluation.jpg" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">Evaluation Criteria</h5>
                        <p class="w-300 fs-16"><strong>Accuracy:</strong> Measure the pose estimation accuracy using
                            Maximum Symmetry-Aware Surface Distance (MSSD), precision, and recall.</p>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/docker.png" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l10">
                        <h5 class="w-300">How It Works</h5>
                        <p class="w-300 fs-16">Participants submit code in the form of
                        docker images which are evaluated against test environments on the evaluation server. During
                        evaluation, the worker fetches the image, test environment, and the model snapshot and spins
                        up a new container to perform evaluation.</p>
                    </div>
                    div class="col s12 m2 l2">
                        <img src="/dist/images/features/docker.png" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">How It Works</h5>
                        <p class="w-300 fs-16">Participants submit code in the form of
                        docker images which are evaluated against test environments on the evaluation server. During
                        evaluation, the worker fetches the image, test environment, and the model snapshot and spins
                        up a new container to perform evaluation.</p>
                    </div>
                </div>-->
            </div>
        </section>
        <!--<section class="ev-container ev-reverse-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Popular challenges</h4>
                </div>
                <div class="row">
                    <div class="col s12 m3 l3" ng-repeat="challenge in main.challengeList.results track by $index"
                        ng-if="$index < 4"><a class="ev-card-hover"
                            ui-sref="web.challenge-main.challenge-page({challengeId:challenge.id})">
                            <div class="card ev-card-panel ev-challenge-card ev-card-hover">
                                <div class="card-image ev-card-image">
                                    <img class="bg-img" ng-src="{{challenge.image}}">
                                    <span class=" ev-card-title fs-14"><span><img
                                                ng-src="{{challenge.image}}"></span>{{challenge.title}}</span>
                                </div>
                                <div class="card-content">
                                    <p><strong class="text-light-black fs-12">Organized by</strong>
                                        <br>
                                        <span class="w-300 fs-16">{{challenge.creator.team_name}}</span>
                                    </p>
                                    <p><strong class="text-light-black fs-12">Starts on</strong>
                                        <br>
                                        <span class="w-300 fs-16">{{challenge.start_date | date:'medium'}}</span>
                                    </p>
                                    <p><strong class="text-light-black fs-12">Ends on</strong>
                                        <br>
                                        <span class="w-300 fs-16">{{challenge.end_date | date:'medium'}}</span>
                                    </p>
                                </div>
                                <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>View Details
                                    </strong> &nbsp; </div>
                            </div>
                        </a>
                    </div>
                    <div ng-if="!main.challengeList.count" class="row">
                        <p class="text-dark-black w-300 center fs-16">Sorry! there are no featured challenges. Please
                            check again later.</p>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- organizatons section -->
        <!--<section class="ev-container ev-reverse-details text-med-black" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="row">
                            <h4 class="w-300 center">Partner Organizations</h4>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/argoai.png" id="argoai-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/cmu.png" id="cmu-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/draper.png" id="draper-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/ebay.png" id="ebay-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/fb.png" id="fb-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/gt.png" id="gt-logo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/google.png" id="google-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/ibm.png" id="ibm-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/illinois.png" id="uiuc-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/iitm.png" id="iitm-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/intel.png" id="intel-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/iowa.png" id="iowa-state">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/ju.png" id="ju-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/mapillary.png" id="mapillary-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/motional.png" id="motional">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/mit.png" id="mit-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/nu.png" id="nu-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/siop.png" id="siop-logo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/stanford.png" id="stanford-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/adelaide.png" id="adelaide-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/uau.png" id="uau">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/umbc.png" id="umbc-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/upisa.png" id="upisa">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/pitt.png" id="pitt-logo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/vt.png" id="vt-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- SOSP 2019 Entry -->
        <!--<section class="ev-container ev-reverse-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Cite our work</h4>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h5 class="w-400">EvalAI: Towards Better Evaluation Systems for AI Agents</h5>
                        <span class="w-300 fs-16">Deshraj Yadav, Rishabh Jain, Harsh Agrawal, Prithvijit Chattopadhyay,
                            Taranjeet Singh, Akash Jain, Shiv Baran Singh, Stefan Lee, Dhruv Batra</span>
                    </div>
                </div>
                <div class="row">
                    <a href="http://learningsys.org/sosp19/assets/papers/23_CameraReadySubmission_EvalAI_SOSP_2019%20(8)%20(1).pdf" target="_blank">
                        <img src="dist/images/evalai-paper.jpg" alt="" width="100%" class="thumb">
                    </a>
                </div>
            </div>
        </section>-->
        <!-- Sponsors -->
        <section class="ev-container ev-reverse-details text-med-black" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Sponsors &amp; Partners</h4>
                </div>
                <div class="row">
                    <div class="col s12 m4 l3 offset-l0">
                        <div class="evalai-sponsor-logo">
                            <a href="https://www.intrinsic.ai"><img src="dist/images/sponsors/intrinsic.png"
                                    id="intrinsic"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="evalai-sponsor-logo">
                            <a href="https://opencv.org"><img src="dist/images/sponsors/opencv.png" id="opencv"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="evalai-sponsor-logo">
                            <a href="https://bop.felk.cvut.cz/home/"><img src="dist/images/sponsors/bop-logo.png"
                                    id="bop"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="evalai-sponsor-logo">
                            <a href="https://manoa.hawaii.edu/"><img
                                    src="dist/images/sponsors/university-of-hawaii.png" id="univ-hawaii"></a>
                        </div>
                    </div>
                    <!--- <div class="col s12 m4 l3">
                        <div class="evalai-sponsor-logo">
                            <a href="https://www.orbbec.com/"><img
                                    src="https://opencv.org/wp-content/uploads/2024/12/orbbec-bpc.png" id="orbbec"></a>
                        </div>
                    </div>
                    --->
                </div>
                <!---<div class="row">
                    <div class="col s12 m4 l12">
                        <div class="evalai-sponsor-logo">
                            <a href="https://manoa.hawaii.edu/"><img
                                    src="dist/images/sponsors/university-of-hawaii.png" id="univ-hawaii"></a>
                        </div>
                    </div>
                </div>
                --->
            </div>
        </section>
    </div>
    <landing-footer></landing-footer>
</div>